.navBody{
    background-color:white;
    display: flex;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.homeTitle{
    font-weight: 700;
    font-size: 40px;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navBlock{
    display: inline-block;
}

.navElement{
    font-size: 20px;
    display: inline-block;
    margin-right: 50px;
    text-align: right;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}